################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NanaDaBanana.Ketckup/.vs/NanaDaBanana.Ketckup/CopilotIndices/17.14.939.21063
/NanaDaBanana.Ketckup/.vs/NanaDaBanana.Ketckup/FileContentIndex
/NanaDaBanana.Ketckup/.vs/NanaDaBanana.Ketckup/v17
/NanaDaBanana.Ketckup/NanaDaBanana.Ketckup/obj
